# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

# OpenAI
OPENAI_API_KEY=

# IGDB
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
# IGDB_REDIRECT_URI=
IGDB_ACCESS_TOKEN=

# RAWG
RAWG_API_KEY=
